<div class="row">
  {# content | raw #}
	<div class="col">

		<div class="card card-modern">
			<div class="card-header">
				<h2>{{ content.nameFirst }}  {{ content.nameLast }} {{ content.company }}</h2>
				<h3>{{ t('app', 'Registration for') }}: {{ content.eventCode }} {{ content.eventYear }}</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped table-hover content-table table-modern">
					<caption class="c-table__caption">{{ content.nameFirst }}  {{ content.nameLast }}</caption>
					<tbody class="c-table__body">
					{% for key, value in data %}
						<tr class="c-table__row">
							<td class="c-table__cell">{{ key }}</td>
							<td class="c-table__cell">{{ value | raw }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<span class="badge text-bg-secondary">{{ uuid }} : {{ ctype }}</span>

{% apply registerCss %}

{% endapply %}

{% apply registerJs(4) %}
	console.error('Error');
{% endapply %}
