{{ use('giantbits/crelish/widgets/CrelishGravatar') }}

<div class="avatar-nav">
	<div class="c-avatar">
		{{ app.user.identity.getInitials() }}
	</div>
	<div class="user-info">
		<h6>{{ app.user.identity.nameFirst }} {{ app.user.identity.nameLast }}</h6>
		<a href="{{ url('crelish/user/logout') }}">
			{{ t('crelish', 'Logout') }}
		</a>
	</div>
</div>


<div class="navbar-item {{ app.controller.id == 'dashboard' ? 'active' : '' }}">
	<a href="{{ url('crelish/dashboard/index') }}">
		<i class="fas fa-chart-pie"></i> {{ t('crelish', 'Dashboard') }}
	</a>
</div>
<div class="navbar-item {{ app.controller.id == 'page' ? 'active' : '' }}">
	<a href="{{ url('crelish/page/index') }}">
		<i class="fa-sharp fa-regular  fa-bookmark"></i> {{ t('crelish', 'Pages') }}
	</a>
</div>
<div class="navbar-item {{ app.controller.id == 'content' ? 'active' : '' }}">
	<a href="{{ url('crelish/content/index') }}">
		<i class="fa-sharp fa-regular  fa-edit"></i> {{ t('crelish', 'Content') }}
	</a>
</div>
<div class="navbar-item {{ app.controller.id == 'asset' ? 'active' : '' }}">
	<a href="{{ url('crelish/asset/index') }}">
		<i class="fas fa-folder-open"></i> {{ t('crelish', 'Assets') }}
	</a>
</div>
<div class="navbar-item {{ app.controller.id == 'user' ? 'active' : '' }}">
	<a href="{{ url('crelish/user/index') }}">
		<i class="fa-sharp fa-regular  fa-users"></i> {{ t('crelish', 'User') }}
	</a>
</div>
<div class="navbar-item disabled">
	<a href="#fakelink">
		<i class="fas fa-globe-africa"></i> Globals
	</a>
</div>
<div class="navbar-item {{ app.controller.id == 'translation' ? 'active' : '' }}">
	<a href="{{ url('crelish/translation/index') }}">
		<i class="fa-sharp fa-regular  fa-language"></i> {{ t('crelish', 'Translations') }}
	</a>
</div>
<div class="navbar-item {{ app.controller.id == 'settings' ? 'active' : '' }}">
	<a href="{{ url('crelish/settings/index') }}">
		<i class="fa-sharp fa-regular  fa-cogs"></i> {{ t('crelish', 'Settings') }}
	</a>
</div>

<span class="cr-version">V0.4.11</span>

{% apply registerCss %}
.cr-version {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	font-size: 0.8rem;
	color: #34877FFF;
}
{% endapply %}
