<span class="c-nav__item c-nav__item--right">
   <span class="dropdown" style="overflow: visible;">
        <span class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-user-o"></span> {{ app.user.identity.username }} <span class="caret"></span>
        </span>
        <ul role="menu" class="dropdown-menu" style="margin-left: -4em;">
            <li>
                  <a href="{{ url('crelish/user/logout') }}">
                    <span class="fa fa-sign-out"></span> {{ t('crelish', 'Logout') }}
                  </a>
            </li>

        </ul>
    </span>
</span>
<span class="c-nav__item c-nav__item--right {{ app.controller.id == 'settings' ? 'active' : '' }}">
  <a href="{{ url('crelish/settings/index') }}">
    <span class="fa fa-cogs"></span> {{ t('crelish', 'Settings') }}
  </a>
</span>
<!--
<span class="c-nav__item c-nav__item--right disabled">
  <a href="#fakelink">
    <span class="fui-star"></span> Globals
  </a>
</span>
-->
<span class="c-nav__item c-nav__item--right">
  <a href="#fakelink">
    <span class="fa fa-users"></span> {{ t('crelish', 'User') }}
  </a>
</span>
<span class="c-nav__item c-nav__item--right {{ app.controller.id == 'asset' ? 'active' : '' }}">
  <a href="{{ url('crelish/asset/index') }}">
    <span class="fa fa-file-image-o"></span> {{ t('crelish', 'Assets') }}
  </a>
</span>
<span class="c-nav__item c-nav__item--right {{ app.controller.id == 'content' ? 'active' : '' }}">
  <a href="{{ url('crelish/content/index') }}">
    <span class="fa fa-pencil-square-o"></span> {{ t('crelish', 'Content') }}
  </a>
</span>