{% set sideBarItems = app.get('sideBarManager').items %}
{% set sideBar = app.get('sideBarManager').filterItems(sideBarItems) %}

<div class="avatar-nav">
	<div class="c-avatar">
		{{ app.user.identity.getInitials() }}
	</div>
	<div class="user-info">
		<h6>{{ app.user.identity.nameFirst }} {{ app.user.identity.nameLast }}</h6>
		<a href="{{ url('crelish/user/logout') }}">
			{{ t('crelish', 'Logout') }}
		</a>
	</div>
</div>

{% for item in sideBar %}
	<div class="navbar-item {{ app.controller.id == item.id ? 'active' : '' }}">
		<a href="{{ url(item.url) }}">
			<i class="{{ item.icon }}"></i> {{ t('crelish', item.label) }}
		</a>
	</div>
{% endfor %}

<span class="cr-version">{{ app.params.crelish.version }}</span>

{% apply registerCss %}
.cr-version {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.8rem;
  color: #34877FFF;
}

.select2-container--krajee-bs5 .select2-selection--single .select2-selection__clear,
.select2-container--krajee-bs5 .select2-selection--multiple .select2-selection__clear {
  margin-right: 1rem;
	cursor: pointer;
}
{% endapply %}
