{{ register_asset_bundle('giantbits/crelish/CrelishAsset') }}  {# asset root for yii advanced template #}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
  <meta charset="{{ app.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ html.encode(this.title) }}</title>
  {{ html.csrfMetaTags | raw }}
  {{ void(this.head) }}
</head>
<body class="crelish gc-bc--palette-wetasphalt">
{{ void(this.beginBody()) }}

<div class="gc-h--100 o-container o-container--super gc-bc--palette-wetasphalt">
  <div class="o-grid">
    <div class="o-grid__cell--width-20">
      <div class="gc-lp--1 gc-section-top-bar gc-bc--palette-dark-blue">
        crelish
      </div>
      <div class="gc-nav__sidebar gc-bc--palette-midnightblue gc-pt--2">
        {% include "_side_nav.twig" %}
      </div>
    </div>
    <div class="o-grid__cell o-grid__cell--no-gutter">

      <div class="gc-bc--palette-green-sea gc-section-top-bar">
        {% include '@crelish/views/' ~ app.controller.id ~ '/' ~ app.controller.action.id ~ "_header_bar.twig" %}
      </div>

      <section class="gc-p--ltr-2 gc-panel--wrap">
        {{ content | raw }}
      </section>

    </div>
  </div>
</div>

<!-- Modal definitions -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog gc-no-border-radius">
    <div class="modal-content gc-no-border-radius">
      <div class="modal-header gc-no-border">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer gc-no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-ok" data-url="{{ url('crelish/content/delete.html') }}" data-uuid="{{ app.getRequest.getQueryParam('uuid') }}" data-model="{{ app.getRequest.getQueryParam('type') }}">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog gc-no-border-radius">
    <div class="modal-content gc-no-border-radius">
      <div class="modal-header gc-no-border">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Confirm cancel</h4>
      </div>
      <div class="modal-body">
        <p>You are about to cancel your current action.</p>
        <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer gc-no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-ok-cancel" data-href="{{ url('crelish/content/index.html') }}">Proceed</button>
      </div>
    </div>
  </div>
</div>

{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
