{{ use('giantbits/crelish/widgets/FlashMessages') }}
{{ register_asset_bundle('giantbits/crelish/CrelishAsset') }}  {# asset root for yii advanced template #}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crelish | {{ html.encode(this.title) }}</title>
    {{ html.csrfMetaTags | raw }}
    {{ void(this.head) }}
</head>
<body class="crelish c-text gc-bc--palette-clouds">
{{ void(this.beginBody()) }}

<div class="o-panel">
    <nav class="c-nav c-nav--inline gc-bc--palette-dark-blue">
        <a href="{{ url('crelish/dashboard/index') }}" class="active">
            <span class="c-nav__content gc-bfont crelish-brand ">crelish</span>
        </a>
        {% include '_side_nav.twig' %}
    </nav>
    {% include '@crelish/views/' ~ app.controller.id ~ '/' ~ app.controller.action.id ~ "_header_bar.twig" %}

    {{ flash_messages_widget() }}

    <section class="o-panel o-panel--nav-top o-panel--nav-top-super">
        {{ content | raw }}
    </section>
</div>

<!-- Modal definitions -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog gc-no-border-radius">
        <div class="modal-content gc-no-border-radius gc-bc--palette-clouds">
            <div class="modal-header gc-no-border gc-bc--palette-silver-light">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{ t('crelish', 'Confirm Delete') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ t('crelish', 'You are about to delete this record, this procedure is irreversible.') }}</p>
                <p>{{ t('crelish', 'Do you want to proceed?') }}</p>
            </div>
            <div class="modal-footer gc-no-border gc-bc--palette-silver-light">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ t('crelish', 'Cancel') }}</button>
                <button type="button" class="btn btn-danger btn-ok" data-url="/crelish/{{ app.controller.id }}/delete.html" data-uuid="{{ app.getRequest.getQueryParam('uuid') }}"
                        data-model="{{ app.getRequest.getQueryParam('ctype') }}" onclick="window.location.href=$(this).data('url') +'?uuid=' + $(this).data('uuid') + '&ctype=' + $(this).data('model')">{{ t('crelish', 'Delete') }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
    <div class="modal-dialog gc-no-border-radius">
        <div class="modal-content gc-no-border-radius gc-bc--palette-clouds">
            <div class="modal-header gc-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{ t('crelish', 'Confirm cancel') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ t('crelish', 'You are about to cancel your current action.') }}
                <br/>{{ t('crelish', 'Unsaved changes might get lost.') }}</br>
                <p>{{ t('crelish', 'Do you want to proceed?') }}</p>
            </div>
            <div class="modal-footer gc-no-border">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ t('crelish', 'Cancel') }}</button>
                <button type="button" class="btn btn-danger btn-cancel-proceed"
                        data-href="">{{ t('crelish', 'Proceed') }}
                </button>
            </div>
        </div>
    </div>
</div>

{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
