{{ use('/giantbits/crelish/widgets') }}
<nav class="c-nav c-nav--inline gc-bc--palette-belize">

    <div class="o-grid">
        <div class="o-grid__cell--width-25">
            <span class="c-nav__content"><h3 class="c-heading">{{ t('app.crelish', 'Content') }}</h3></span>
        </div>
        <div class="o-grid__cell--width-50 gc-fc--palette-dark-blue">

                <div class="c-input-group c-input-group--rounded" style="margin-top: .5em;">
                    <!--<span class="c-button c-button--brand dropdown" style="overflow: visible;">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                            Alles <span class="caret"></span>
                        </span>
                        <ul role="menu" class="dropdown-menu" style="margin-left: -4em;">
                            {{ element_nav_widget({"action":"create"}) }}
                        </ul>
                    </span>-->

                    <div class="o-field">
                        <input class="c-field" name="cr-content-search" id="cr-content-search" value="{{ freesearch }}" placeholder="{{ t('app.crelish', 'Type your search phrase here...') }}">
                    </div>
                    <button class="c-button c-button--brand"><i class="fa fa-search"></i></button>
                </div>

        </div>
        <div class="o-grid__cell--width-25">
            <span class="c-nav__content c-nav__item--right"  style="overflow: visible;">
                <div class="c-button c-button--success dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-plus-circle"></span> {{ t('app.crelish', 'Add content') }} <span class="caret"></span>
                    </span>
                    <ul role="menu" class="dropdown-menu" style="margin-left: -4em;">
                        {{ element_nav_widget({"action":"create"}) }}
                    </ul>
                </div>
            </span>
        </div>
    </div>
</nav>
<script>

    $(document).ready(function() {
        $('#cr-content-search').on("blur", function(e){
            $.pjax.reload({container:'#contentList', data: {'cr-content-filter': $(this).val()}});
        });

        $('#cr-content-search').on("keypress", function(e){
            if(e.which == 10 || e.which == 13) {
                $.pjax.reload({container:'#contentList', data: {'cr-content-filter': $(this).val()}});
            }
        });
    });
</script>