{{ use('kartik/widgets/Select2') }}

<div class="form-group field-crelishdynamicmodel-{{ formKey }} {{ required }}">
    <label class="control-label" for="crelishdynamicmodel-branch">{{ field.label }}</label>
    <input type="hidden" name="CrelishDynamicModel[{{ field.key }}]" value="{{ rawData }}" id="select_{{ field.key }}" />
    {{ Select2_widget({
        'name': "temp_select_" ~ field.key,
        'value': selectValue,
        'data': selectData,
        'options': {'placeholder': t('app', 'Select...') },
        'pluginEvents': {
            "select2:select": "function() { var select = JSON.stringify({'ctype': '#{includeDataType}', 'uuid': $(this).val()}); $('#select_#{field.key}').val(select); }"}
    }) }}
</div>