{{ use('/yii/widgets/ListView') }}
{{ use('/yii/widgets/Pjax') }}

<div class="o-grid gc-bc--palette-asbestos">
  <div class="o-grid__cell gc-ta--center gc-p--1" id="dropZone">
    <form action="{{ url('crelish/asset/upload.html') }}"
          class="dropzone"
          id="crelish-drop-zone">
      <span class="c-badge c-badge--secondary gc-shadow__soft dz-message">Click or drag files here to upload.</span>
    </form>
  </div>
</div>
<div class="o-grid gc-bc--palette-clouds gc-bs--soft">
  <div class="o-grid__cell">
    {{ pjax_begin({'id':'assetList', 'enablePushState': false}) }}
    {{ list_view_widget({
      'dataProvider': dataProvider,
      'pager': {
        'maxButtonCount': 5,
        'options': {
          'class': 'pagination gc-bc--palette-silver o-grid__cell o-grid__cell--width-100'
        }
      },
      'itemView': 'asset_item.twig',
      'itemOptions': {'tag':false},
      'options': {'class':'o-grid o-grid--wrap o-grid--no-gutter'},
      'summaryOptions':{'class': 'o-grid o-grid__cell o-grid__cell--width-100 gc-p--tb-1'}}) | raw }}
    {{ pjax_end() }}
  </div>
</div>
