{{ use('/yii/widgets/ListView') }}
{{ use('/yii/grid/GridView') }}
{{ use('/yii/widgets/Pjax') }}

<div class="modal fade cr-modal--full media-modal-{{ formKey }}"
     id="media-modal-{{ formKey }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="media-modal-{{ formKey }}" aria-hidden="true">
  <div class="modal-dialog" style="width: 97vw; height: 97vh; top: 1vh; margin: 0 auto; padding: 0;">
    <div class="modal-content">

      <nav class="modal-header">
        <div class="o-grid">
          <div class="o-grid__cell--width-25">
            <span class="c-nav__content"><h3 class="c-heading">{{ t('crelish', 'Assets') }}</h3></span>
          </div>
          <div class="o-grid__cell--width-50 gc-fc--palette-dark-blue">
            <div class="c-input-group c-input-group--rounded" style="margin-top: .5em;">
              <div class="o-field">
                <input class="c-field" name="cr_asset_filter_{{ formKey }}" id="cr_asset_filter_{{ formKey }}"
                       value="{{ app.request.get.cr_asset_filter }}"
                       placeholder="{{ t('crelish', 'Type your search phrase here...') }}">
              </div>
              <button class="c-button c-button--brand do-search" onclick="return false;" style="border: 1px solid grey;
    margin-left: -1px;"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="o-grid__cell--width-25">
            <div class="c-nav__content c-nav__content--right">
              <button type="button" class="close" style="margin-top: 14px;" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
          </div>
        </div>
      </nav>

      <div class="modal-body o-panel-container">
        <div style="cursor: pointer;
    background-color: #7391a7;
    padding: 10px 0;
    text-align: center;">
          <div id="dropZone-{{ formKey }}"></div>
        </div>
        <div>

          {{ pjax_begin({'id': 'assetList-' ~ formKey, 'enablePushState': true}) }}

          <h6>{{ t('crelish', 'Asset list') }}</h6>

          {{ grid_view_widget({
            'dataProvider': dataProvider,
            'columns': columns,
            'filterSelector': '.cr-content-search',
            'tableOptions': {'class':'table table-striped'},
            'rowOptions': rowOptions ,
            'formatter': {'class': 'yii\\i18n\\Formatter', 'nullDisplay': ''}}) | raw }}

          {{ pjax_end() }}

        </div>
      </div>

    </div>
  </div>
</div>

<div class="form-group field-crelishdynamicjsonmodel-{{ formKey }} {{ required }}">
  <label class="control-label" for="crelishdynamicjsonmodel-{{ formKey }}">{{ field.label }}</label>
  <input type="hidden" name="CrelishDynamicModel[{{ field.key }}]" value="{{ rawData }}"
         id="asset_{{ field.key }}"/>
  <br>
  <div class="c-card">
    <div class="c-card__item c-card__item--brand">
      Media
      <span class="c-input-group pull-right">
        {% if data.fileName %}
          <a class="c-button c-button--error" href style="margin-top: -6px;" id="rem_{{ field.key }}">
          <span class="fui-image"></span> <i class="fa fa-trash"></i> {{ t('crelish', 'Remove media...') }}
        </a>
        {% endif %}
        <a class="c-button c-button--info open-media-modal" data-toggle="modal"
         data-target="#media-modal-{{ formKey }}" href style="margin-top: -6px; margin-right: -6px;">
          <span class="fui-image"></span> {{ t('crelish', 'Select media...') }}
      </a>
      </span>
    </div>
    <div id="asset-body-{{ field.key }}" class="c-card__body {% if data is empty %}{% endif %}">
      <div class="o-grid o-grid--wrap">
        <div class="o-gird__cell o-grid__cell--width-25" id="asset-media-{{ field.key }}">
          {% if "image" in data.mime and "svg" not in data.mime %}
            <img src="/crelish/asset/glide?path={{ data.fileName }}&w=220&f=fit" class="o-image"
                 id="asset-icon-{{ field.key }}"/>
          {% endif %}
          {% if "image" in data.mime and "svg" in data.mime %}
            <img src="{{ data.pathName }}{{ data.fileName }}" class="o-image" id="asset-icon-{{ field.key }}"/>
          {% endif %}
        </div>
        <div class="o-grid__cell" id="asset-info-{{ field.key }}">
          {{ data.description }}
          {{ data.systitle }} {% if data.mime %}({{ data.mime }}){% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function reloadList(val) {
    if (window.location.href.indexOf('cr_asset_filter') >= 0) {
      $.pjax.reload({
        container: '#assetList-{{ formKey }}',
        async: false,
        url: window.location.href.replace(/(cr_asset_filter=).*?(&|$)/, '$1' + val + '$2')
      });
    } else {
      var preFix = (window.location.href.indexOf("?") >= 0) ? '&' : '?';
      $.pjax({
        url: window.location.href + preFix + "cr_asset_filter=" + val,
        container: '#assetList-{{ formKey }}',
        async: false,
      });
    }
  }

  $('#media-modal-{{ formKey }}').on('shown.bs.modal', function (e) {

    $('.do-search').on("click", function (e) {
      e.preventDefault();
    });

    $('#cr_asset_filter_{{ formKey }}').on("blur", function (e) {
      e.preventDefault();
      reloadList($(this).val());
    });

    $('#cr_asset_filter_{{ formKey }}').on("keypress", function (e) {
      if (e.which == 10 || e.which == 13) {
        e.preventDefault();
        reloadList($(this).val());
      }
    });

    Dropzone.autoDiscover = false;
    var defMessage = "<span class=\"c-button c-button--ghost\" style=\"border-color: #fff; color: #fff; border-radius: .5rem; pointer-events: none;\">{{ t('crelish', 'Click or drag files here to upload.') }}</span>";
    var dZoneOptions = {
      url: '/crelish/asset/upload',
      paramName: "file", // The name that will be used to transfer the file
      maxFilesize: 250, // MB
      dictDefaultMessage: defMessage,
      init: function () {
        var myDropzone = this;
        $(this.element).addClass("dropzone");
        $(this.element).append(defMessage);
        this.on("complete", function (file) {
          setTimeout(function () {
            $.pjax.reload({container: '#assetList-{{ formKey }}', async: false});
            myDropzone.removeFile(file);
          }, 250);
        });
      },
      accept: function (file, done) {
        done();
      }
    };

    var newDropzone = new Dropzone("div#dropZone-{{ formKey }}", dZoneOptions);
  });

  $('#rem_{{ field.key }}').on('click', function (e) {
    e.preventDefault();
  
    $('#asset-body-{{ field.key }}').removeClass('hidden');
    $('#asset_{{ field.key }}').attr('value', '');
    $('#asset-info-{{ field.key }}').html('<span style="color: red;">{{ t('crelish', 'Save the entry to remove the media.') }}</span>');
    $('#asset-media-{{ field.key }}').html('');
  });

</script>
