{{ use('/yii/widgets/ListView') }}
{{ use('/yii/grid/GridView') }}
{{ use('/yii/widgets/Pjax') }}

<div class="u-window-box-medium">
  {{ pjax_begin({'id':'userList', 'enablePushState': false}) }}
  {{ grid_view_widget({
    'dataProvider': dataProvider,
    'columns': columns,
    'filterSelector': '.cr-content-search',
    'tableOptions': {'class':'table table-striped'},
    'rowOptions': rowOptions ,
    'formatter': {'class': 'yii\\i18n\\Formatter', 'nullDisplay': ''}}) | raw }}
  {{ pjax_end() }}
</div>
