{{ use('/giantbits/crelish/widgets') }}
<div class="c-input-group group-content-filter">
  <button class="c-button c-button--brand"><i class="fa-sharp fa-regular  fa-search"></i></button>
  <div class="o-field" style="display: flex;">
    <input class="c-field" name="cr_content_filter" id="cr_content_filter"
           value="{{ app.session.get('cr_content_filter') }}"
           placeholder="{{ t('app', 'Type your search phrase here...') }}">
    <select name="cr_status_filter" id="cr_status_filter" style="border: none;">
      <option value="">{{ t('app', 'State') }}</option>
      <option value="1"{% if app.session.get('cr_status_filter') == 1 %} selected{% endif %}>{{ t('app', 'Inactive') }}</option>
      <option value="2"{% if app.session.get('cr_status_filter') == 2 %} selected{% endif %}>{{ t('app', 'Online') }}</option>
      <option value="3"{% if app.session.get('cr_status_filter') == 3 %} selected{% endif %}>{{ t('app', 'Archived') }}</option>
    </select>
  </div>
</div>

<div class="c-input-group">
  <button class="c-button c-button--error btn-delete-grid hidden">
    <i class="fa-sharp fa-regular  fa-check-square"></i> {{ t('app', 'Löschen') }}
  </button>
  <a href="/crelish/user/create" class="c-button "><i class="fa-sharp fa-regular  fa-plus"></i></a>
</div>
