{{ use('/yii/grid/GridView') }}
{{ use('/giantbits/crelish/widgets') }}
{{ use('/yii/widgets/Pjax') }}
{{ pjax_begin({'id':'contentList', 'enablePushState': false}) }}
<div class="o-grid gc-bc--palette-clouds">
    <div class="o-grid__cell o-grid__cell--width-20">
        <h6>Type filter</h6>
        <ul role="menu" class="gc-nav__content-filter">
            {{ element_nav_widget({'ctype':ctype, 'selector':'cet'}) }}
        </ul>
    </div>
    <div class="o-grid__cell">
        <h6>Content</h6>
        {{ grid_view_widget({'dataProvider': dataProvider, 'columns': columns, 'tableOptions': {'class':'table table-striped'}}) | raw }}
    </div>
</div>
{{ pjax_end() }}
