{# views/matrix/builder.twig #}
<div class="form-group field-crelishdynamicmodel-{{ formKey }} required">
  <label class="control-label" for="crelishdynamicmodel-{{ formKey }}">{{ label }}</label>
  <div class="">
    <div id="page-builder" data-page-id="{{ pageId }}"></div>
    <textarea id="page-json-input" name="CrelishDynamicModel[{{ formKey }}]" style="display: none;">{{ processedData }}</textarea>
    <div class="help-block help-block-error"></div>
  </div>
</div>
