{{ use('kartik/widgets/Select2') }}

<div class="mb-3 highlight-addon field-crelishdynamicjsonmodel-{{ formKey }} {{ required }}">
  <label class="form-label has-star" for="crelishdynamicjsonmodel-branch">{{ field.label }}</label>
  <input type="hidden" name="CrelishDynamicModel[{{ field.key }}]" value='{{ hiddenValue }}'
         id="select_{{ field.key }}"/>
  {{ Select2_widget({
    'name': "temp_select",
    'value': selectValue,
    'data': selectData,
    'options': {'placeholder': t('app', 'Select...')},
    'pluginOptions': {
      'tags': true,
      'allowClear': allowClear,
      'tokenSeparators': [';'],
      'multiple': allowMultiple
    },
    'pluginEvents': {
      "select2:select": "function() {
        console.log($(this).val());
        var select = (Array.isArray($(this).val())) ? $(this).val().join('; ') : $(this).val();
        $('#select_#{field.key}').val(select);
      }",
      "select2:unselect": "function() { var select = JSON.stringify($(this).val()); }"
    }
  }) }}
</div>