{{ use('yii/bootstrap/ActiveForm') }}

{% set form = active_form_begin({
'id' : 'content-form',
'layout' : 'default'
}) %}
<div class="o-grid u-window-box--medium">
    <div class="o-grid__cell o-grid__cell--width-75 o-grid__cell--no-gutter">
        <div class="">
            <div class="c-heading u-pillar-box-medium">
                {{ model.systitle }}
            </div>
            <div class="c-card__content">
                <div class="u-pillar-box-medium">

                    {% if model.mime =='image/jpeg' %}
                        <img src="/crelish/asset/glide.html?path={{ model.fileName }}" class="o-image">
                    {% elseif model.mime =='image/jpg' %}
                        <img src="/crelish/asset/glide.html?path={{ model.fileName }}&" class="o-image">
                    {% elseif model.mime =='image/png' %}
                        <img src="/crelish/asset/glide.html?path={{ model.fileName }}" class="o-image">
                    {% elseif model.mime =='image/gif' %}
                        <img src="/crelish/asset/glide.html?path={{ model.fileName }}" class="o-image">
                    {% elseif model.mime =='application/pdf' %}
                        <object type="application/pdf" width="100%" height="800px" data="{{ model.src }}"></object>
                    {% elseif model.mime == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
                        <iframe src="http://view.officeapps.live.com/op/view.aspx?src=={{ model.src }}&name={{ model.systitle }}" width="100%" height="800px" "></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell u-letter-box-medium">
        {{ form.field(model, 'systitle') | raw }}
        {{ form.field(model, 'state').dropdownlist({0:'Offline',1:'Draft',2:'Published',3:'Archived'}) | raw }}
        {{ form.field(model, 'colormain_hex', { 'inputOptions': { 'class': 'form-control colorspawn' }}) | raw }}

        <div class="form-group field-crelishdynamicjsonmodel-state required">
            <label class="control-label" for="crelishdynamicjsonmodel-state">Color palette</label>
            <ul class="gc-list--inline">
                {% for color in model.colorpalette %}
                    <li data-toggle="tooltip" title=""
                        data-original-title="rgb({{ color[0] }}, {{ color[1] }} , {{ color[2] }})<br>{{ model.colormain_hex }}"
                        style="width: 20px; height: 30px; background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});"></li>
                {% endfor %}
            </ul>
        </div>

        {{ form.field(model, 'src', { 'inputOptions': { 'class': 'form-control disabled', 'disabled': 'disabled'}}) | raw }}
        {{ form.field(model, 'src_remote', { 'inputOptions': { 'class': 'form-control'}}) | raw }}
        {{ form.field(model, 'description', {'options': {'style': 'margin-bottom: 0px;' }}).textarea({'rows':6 }) | raw }}

        <input type="hidden" name="save_n_return" id="save_n_return" value="0"/>

    </div>
</div>

<span class="c-badge gc-mt--1">{{ model.uuid }} : {{ model.ctype }}</span>

{{ active_form_end() }}
<script>
    $('.colorspawn').css('border-bottom', '4px solid {{ model.colormain_hex }}');
    $('[data-toggle="tooltip"]').tooltip({html: true});
</script>
