{{ use('yii/bootstrap5/ActiveForm') }}
{% set form = active_form_begin({
	'id' : 'content-form',
	'layout' : 'default'
}) %}
<div class="o-grid u-window-box--medium">
	<div class="o-grid__cell o-grid__cell--width-65 o-grid__cell--no-gutter">
		<div class="">
			<div class="c-heading u-pillar-box-medium">
				{{ model.systitle }} ({{ model.mime }})
			</div>
			<div class="c-card__content">
				<div class="u-pillar-box-medium">
					{% if model.mime =='image/jpeg' %}
						<img src="/crelish/asset/glide?path={{ chelper.getAssetUrl(model.pathName, model.fileName) }}" class="o-image">
					{% elseif model.mime =='image/jpg' %}
						<img src="/crelish/asset/glide?path={{ chelper.getAssetUrl(model.pathName, model.fileName) }}&" class="o-image">
					{% elseif model.mime =='image/webp' %}
						<img src="/crelish/asset/glide?path={{ chelper.getAssetUrl(model.pathName, model.fileName) }}&" class="o-image">
					{% elseif model.mime =='image/png' %}
						<img src="/crelish/asset/glide?path={{ chelper.getAssetUrl(model.pathName, model.fileName) }}" class="o-image">
					{% elseif model.mime =='image/gif' %}
						<img src="/crelish/asset/glide?path={{ chelper.getAssetUrl(model.pathName, model.fileName) }}" class="o-image">
					{% elseif model.mime =='application/pdf' %}
						<embed src="{{ chelper.getAssetUrl(model.pathName, model.fileName) }}" width="100%" height="800"
						       type="application/pdf" style="height: 80vh;">
					{% elseif model.mime == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
						<iframe src="http://view.officeapps.live.com/op/view.aspx?src=={{ chelper.getAssetUrl(model.pathName, model.fileName) }}&name={{ model.systitle }}"
						        width="100%" height="800px"></iframe>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell u-letter-box-medium">

		<div class="c-card">
			<div class="c-card__item c-card__item--brand">
				{{ t('app', 'Asset details') }}
			</div>
			<div class="c-card__item">
				{{ form.field(model, 'systitle') | raw }}
				{{ form.field(model, 'state').dropdownlist({0:'Offline',1:'Draft',2:'Published',3:'Archived'}) | raw }}
				{{ form.field(model, 'src', { 'inputOptions': { 'class': 'form-control disabled', 'disabled': 'disabled'}}) | raw }}
				{{ form.field(model, 'src_remote', { 'inputOptions': { 'class': 'form-control'}}) | raw }}
				{{ form.field(model, 'description', {'options': {'style': 'margin-bottom: 0px;' }}).textarea({'rows':6 }) | raw }}

				{% if colormain_hex is not empty %}
					<div class="form-group field-crelishdynamicjsonmodel-state required">
						<label class="control-label" for="crelishdynamicjsonmodel-state">{{ t('app', 'Color palette') }}</label>
						<ul class="gc-list--inline">
							{% for color in colorpalette %}
								<li class="cr-tooltip"  style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});">
										<span>rgb({{ color[0] }}, {{ color[1] }} , {{ color[2] }})</span>
								</li>
							{% endfor %}
						</ul>
					</div>

					<div class="form-group field-crelishdynamicjsonmodel-state required">
						<label class="control-label" for="crelishdynamicjsonmodel-state">{{ t('app', 'Main color') }}</label>
						<ul class="gc-list--inline">
							<li class="cr-tooltip" style="background-color: {{ colormain_hex }}; width: 100%;">
								<span>{{ colormain_hex }}</span>
							</li>
						</ul>
					</div>
				{% endif %}

				{% if model.mime == 'application/pdf' and model.thumbnail %}
					<label>{{ t('app', 'thumbnail') }}</label>
					<img src="/uploads/thumbs/{{ model.thumbnail }}" class="o-image">
				{% endif %}
			</div>
		</div>

		<input type="hidden" name="save_n_return" id="save_n_return" value="0"/>
	
	</div>
</div>
{{ active_form_end() }}

{% if model.mime == 'application/pdf' and model.thumbnail %}
	
	<div class="o-grid u-window-box--medium">
		<div class="o-grid__cell o-grid__cell--width-80">
			{% set formExtract = active_form_begin({
				'id' : 'login-form',
				'action': '/crelish/asset/extract-from-pdf?uuid=' ~ model.uuid
			}) %}
			{#
			<div class="c-card">
				<div class="c-card__item c-card__item--brand">
					{{ t('app', 'extract_pdf_pages') }}
				</div>
				<div class="c-card__item">
					
					{{ formExtract.field(extractModel, 'start') | raw }}
					{{ formExtract.field(extractModel, 'end') | raw }}
					{{ formExtract.field(extractModel, 'systitle') | raw }}
					{{ formExtract.field(extractModel, 'author') | raw }}
					{{ formExtract.field(extractModel, 'description') | raw }}
					{{ formExtract.field(extractModel, 'event') | raw }}
					{{ formExtract.field(model, 'state').dropdownlist({0:'Offline',1:'Draft',2:'Published',3:'Archived'}) | raw }}
					<div class="form-group">
						<input type="submit" value="Extract" class="btn btn-primary"/>
					</div>
				</div>
			</div>
			#}
			
			{{ active_form_end() }}
		</div>
	</div>
{% endif %}


<script>
  $('.colorspawn').css('border-bottom', '4px solid {{ colormain_hex }}');
</script>

<span class="c-badge gc-mt--1">{{ model.uuid }} : {{ model.ctype }}</span>

{% apply registerCss %}
.cr-tooltip {
  position: relative;
  display: inline-block;
  cursor: crosshair;
}

.cr-tooltip span  {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  min-width: 12rem;
  transform: translateY(-100%) translateX(-50%);
}

.cr-tooltip:hover span {
  visibility: visible;
}
{% endapply %}
