<div class="relation-selector-container mb-3 highlight-addon"
     data-field-key="{{ fieldKey }}"
     data-content-type="{{ contentType }}"
     data-value='{{ storedValue }}'
     data-input-name="{{ inputName }}"
     data-label="{{ field.label }}"
     data-required="{{ isRequired ? 'true' : 'false' }}"
     data-multiple="{{ isMultiple ? 'true' : 'false' }}"
     data-columns='{{ columns }}'>
</div>