<div class="u-letter-box-large">
	<div class="split">
		<div>{{ content | raw }}</div>
		<div><iframe src="{{ app.request.hostInfo }}/{{ app.view.params.model.slug }}" frameborder="0" style="width: 100%; height: 100%;"></iframe></div>
	</div>
</div>
<span class="c-badge gc-mt--1">{{ uuid }} : {{ ctype }}</span>


{% apply registerCss %}
.split {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-content: stretch;
  align-items: stretch;
}

iframe {
	background: white;
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
	z-index: 2;
}
#content-form > div > div.o-grid.o-grid--wrap.o-grid--small-full {
  display: flex !important;
  flex-direction: column !important;
	gap: 3rem;
}

#content-form > div > div.o-grid.o-grid--wrap.o-grid--small-full > .o-grid__cell {
	width: 100% !important;
	flex: unset !important;
	max-width: unset !important;
}



{% endapply %}
