<div class="u-letter-box-large">
	<div class="split">
		<div>{{ content | raw }}</div>
		<div><iframe src="{{ app.request.hostInfo }}/{{ app.view.params.model.slug }}" ></iframe></div>
	</div>
</div>
<span class="c-badge gc-mt--1">{{ uuid }} : {{ ctype }}</span>


{% apply registerCss %}
.split {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-content: stretch;
  align-items: stretch;
	gap: 1.333rem;
}

iframe {
	background: white;
	width: 98%;
	height: 90vh;
	z-index: 2;
	border-radius: 0.333rem;
	box-shadow: 0 0 0.333rem rgba(0,0,0, 0.333);
}
#content-form > div > div.o-grid.o-grid--wrap.o-grid--small-full {
  display: flex !important;
  flex-direction: column !important;
}

#content-form > div > div.o-grid.o-grid--wrap.o-grid--small-full > .o-grid__cell {
	width: 100% !important;
	flex: unset !important;
	max-width: unset !important;
}

{% endapply %}
